* {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
  overflow: hidden;
}

.background {
  height: 100vh;
  background-color: #afafaf;
  background-image: url(assets/model.jpg);
  background-size: 1000px;
  background-repeat: no-repeat;
}

.login-container{
  border-radius: 40px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

@media only screen and (max-width: 768px) {
  .background {
    background-color: rgb(33, 37, 41);
    background-size: 0px;
    ;
  }

.login-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  justify-content: center;
  border-radius: 0;
  }


.login-titulo {
    font-size: 3rem;
    margin-top: -140px
  }

.logo{
  width: 150px;
  padding-right: 1.25rem;
  position: relative;
  top: -170px;
  right: 85px
}
.sysshop {
    font-size: 0rem; 
}
}


