* {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
  overflow: hidden;
}

.background {
  font-family: sans-serif;
  height: 100vh;
  min-width: 100vw;
  margin: 0;
  background-color: #afafaf;
  background-image: url(assets/model.jpg);
  background-size: 1050px auto;
  background-repeat: no-repeat;
  background-position: left;
}

.login-container {
  display: flex;
  position: absolute;
  right: 0;
  top: 0;
  padding: 230px 280px;
  background-color: rgb(20, 20, 20);
  border-radius: 40px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  transform: scale(calc(100vh / 500px));
}

.login {
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logo {
  font-size: 4rem;
  margin-bottom: 10px;
}

.inputs {
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 1.4rem;
  margin-top: 5px;
  margin-bottom: 5px;
}

h4 {
  font-family: 'Montserrat', sans-serif;
  display: flex;
  align-items: center;
}

.login-titulo {
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 2.5rem;
  margin: 0;
  text-align: center;
  transform: scale(1.2);
}

.sysshop {
  font-size: 4rem;
  color: #ffffff;
  margin-left: 10px;
  margin-bottom: 12px;
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 350px;
}

input {
  padding: 15px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  font-size: 1.2rem;
  width: 120%;
  max-width: none;
  box-sizing: border-box;
  margin-left: 0.5;
}

.login-botao {
  font-family: 'Montserrat', sans-serif;
  cursor: pointer;
  background-color: #8c3f83;
  color: white;
  padding: 15px;
  border-radius: 15px;
  border: none;
  width: 100%;
  max-width: 350px;
  font-size: 1.4rem;
  margin-top: 20px;
  margin-left: 10%;
  transition: all 0.3s ease;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.login-botao:hover {
  background-color: #a15d8c;
  transform: translateY(-2px);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
}

.login-botao:active {
  transform: translateY(2px);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

@media only screen and (max-width: 768px) {
  .background {
    background-size: cover;
    background-position: center;
    
  }

.login-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  max-width: 400px;
  padding: 20px;
  border-radius: 20px;
  justify-content: center;
  }

  .login-titulo {
    font-size: 2rem;
  }

  .sysshop {
    font-size: 3rem;
  }

  input {
    width: 100%;
    font-size: 1rem;
  }

  .login-botao {
    font-size: 1.2rem;
    margin-left: 0;
  }
}



