body {
  overflow-y: auto;
}

.icon {
  transition: transform 0.3s;
}

.icon:hover {
  transform: scale(1.1);
}

.product-card {
  border: none;
  transition: transform 0.3s ease;
}

.product-card img {
  width: 100%;
  height: auto;
  transition: transform 0.3s ease;
}

.product-card:hover img {
  transform: scale(1.1);
}

.product-card .card-text {
  font-size: 1.25rem;
}