.nav-link {
    transition: color 0.3s, transform 0.3s;
}

.nav-link:hover {
    color: #8c3f83;
    transform: scale(1.1);
}

.icon {
    transition: transform 0.3s;
}

.icon:hover {
    transform: scale(1.1);
}

.navbar {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.navbar {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra da navbar */
}

